#the github provided .gitignore is wrong. also ensure to do
# Edit->Project Settings->Edit-> "Enable Meta Files"
.DS_Store
[Ll]ibrary/AssetImportState
[Ll]ibrary/AssetServerCacheV3
[Ll]ibrary/FailedAssetImports.txt
[Ll]ibrary/ScriptAssemblies
[Ll]ibrary/ScriptMapper
[Ll]ibrary/assetDatabase3
[Ll]ibrary/cache
[Ll]ibrary/expandedItems
[Ll]ibrary/metadata
[Ll]ibrary/previews
[Ll]ibrary/guidmapper
[Tt]emp

*.csproj
*.pidb
*.sln
*.userprefs
*.unityproj

build
